.outer-div {
  padding: 20px;
  height: fit-content;
}

.logo-png {
  height: 2.6rem;
  width: 12rem;
  margin-top: 1rem;
}
.containt {
  height: max(95vh, 600px);
  background-color: #ecf0f3;
  padding-left: 40px;
  border-radius: 20px;
}
.containt-heading {
  font-family: serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.5rem 0 0 !important;
}

.three-part-outer-div {
  margin-top: 3rem;
  padding-bottom: 20px;
}
.first,
.second,
.third {
  max-height: 550px;
}
.first {
  margin-right: 4% !important;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.second {
  padding: 1rem 0 !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.third {
  padding: 1rem 0 1.5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 14px 14px 20px #cbced1, 0px -14px 20px white;
}
.error-occured {
  margin-left: 10px;
  color: red;
}
.success-occured {
  color: green;
}

@media screen and (max-width: 992px) {
  .containt {
    height: 1630px;
  }
  .three-part-outer-div {
    height: 1000px;
  }
  .third {
    padding: 1rem 0;
  }
  .second,
  .third {
    margin-top: 20px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .samsung-logo {
    margin-top: 0;
    font-size: 2.3rem;
  }
  .logo-png {
    margin-top: 0;
    margin-bottom: 0.6rem;
    height: 2.6rem;
  }
  .containt {
    padding: 0 20px 20px;
  }
}
@media screen and (max-width: 1400px) and (min-width: 992px) {
  .containt {
    padding-left: 4% !important;
    height: fit-content;
  }
}
