.loginBox {
  width: 38%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 5% 6.5%;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.login-div-btn {
  text-align: left;
}
.login-btn {
  font-size: 0.9rem !important;
}

.login-error {
  color: red;
  left: 20%;
  bottom: 12%;
  position: absolute;
}
@media screen and (max-width: 992px) {
  .loginBox {
    width: 85%;
    padding: 5% 12%;
    transform: translate(-50%, 30%);
  }
  .login-btn {
    font-size: 0.7rem !important;
  }
  .login-error {
    bottom: 0.5%;
  }
}
